<div class="row form-wrapper">
  <div class="col-12">
    <form [formGroup]="userForm">
      <div class="row mrb-10">
        <div class="col-12">
          <label>Name</label>
          <input class="form-control" type="text" formControlName="name" placeholder="Enter Name">
        </div>
      </div>
      <div class="row mrb-10">
        <div class="col-12">
          <label>Age</label>
          <input class="form-control" type="number" formControlName="age" placeholder="Enter Age">
        </div>
      </div>
      <div class="row mrb-10">
        <div class="col-12">
          <label>Email</label>
          <input class="form-control" type="email" formControlName="email" placeholder="Enter Email">
        </div>
      </div>
      <div class="row mrb-10">
        <div class="col-12">
          <label>Contact</label>
          <input class="form-control" type="tel" maxlength="10" formControlName="contact" placeholder="Enter Contact">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>